@media only screen and (max-width:576px){
 /* Ảnh đàu trang*/ 
  #banner{
  background-image:linear-gradient( rgba(0,0,0,0.6),rgba(75, 69, 69, 0.6)), url(../images/banner.jpg);
  background-size: cover;
  position: relative;
  height: 25vh;
  overflow: hidden;
  text-align: center;
  color: #fff;
  }
  /* Centered text */
  .name-text{
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    h1{
      font-size: 30px;
    }
    .name-text p{
    font-size: 12px;
    }
  .flex-container-1{
    display: block;
    margin: 0 auto;
  }
  .flex-container-1 div{
    border: none;
  }
  .anh-ca-nhan{
    display: none;
  }
  /* Mục tiêu nghề nghiệp-Thông tin cá nhân */
  .flex-container-2{
    padding-top: 30px;
  }
  .section-title{
    font-size: 26px;
    margin-bottom: 30px;
}
.container-1{
  display: block;
  gap: 20px;
}
h3{
  font-size: 26px;
}
.grid-item i{
  font-size: 30px;
  color: gray;
}
.grid-item {
  padding: 20px;
  font-size: 16px;
  line-height: 1.2;
}
/* Chứng chỉ - Giải thưởng */
.certificate-award{
  display: block;
 }
img{
  width: 100%;
}
.Cert_DBI,
.Cert_PRF,
.Cert_WEB{
    display:block;
}
.Cert_PRF{
  border-left: none;
} 
.vach-ngan-cach{
 display: none;
}
.Cert_DBI_text,
.Cert_PRF_text,
.Cert_WEB_text{
  border-bottom: 1px solid #d6c08d;
  padding-left: 10px;
  line-height: 2;
}
/* Dự án */
.flex-container-3 {
  display: block;
}
/* footer" */
.footer-icon{
  list-style: none;
  text-align: center;
}
.footer-icon i{
  font-size: 100%;
  justify-content: center;
}
.footer-icon li{
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  padding-left: 0px;
}
}
